*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #c4ebf9;
    height: 80vh;
    display: flex;
    flex-direction: column;
}

.header{
    margin: 20px;
    height: 50px;
    display: flex;
    justify-content: center;
    color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: linear-gradient(to right,  #02bfb1, #00ffee);
    transition: all 0.4s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
}

 header:hover {
    background: linear-gradient(to right,#02bf05,#14eb01);
    height: 85px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.35);
    color: #00ffee;
 }

.footer{
    background-color: #02bfb1;
    margin: 20px;
    height: 50px;
     display: flex;
    justify-content: center;
    color: aliceblue;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: linear-gradient(to right,  #02bfb1, #00ffee);
    transition: all 0.4s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
}

footer:hover {
    background: linear-gradient(to right,#02bf05,#14eb01);
    height: 85px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.35);
    color: #00ffee;
 }

main{
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
}

.aside{
    background-color: #6edb6e;
    width: 400px;
    height: 490px;
    display: flex;
    justify-content: center;
    align-items: center;

}
 
.aside>h1{
    color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.article{
    background-color: #fbb04c;
    height: 490px;
    width: 900px;
    margin-right: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
   
}
.div1{
    display: flex;
    justify-content: center;
    height: 50%;
    align-content: end;
    
}

.div2{
    display: flex;
    align-content: end;
    height: 50%;    
}

.h1{
    background-color: #fcd24a;
    border-radius: 10px;
    width: 270px;
    margin: 20px;
    padding: 75px 80px;
    color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.h11{
   padding-top: 200px;  
   color: aliceblue;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

